<div class="modal fade" id="stay_popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"><span class="ui_add_evt">Add a new stay</span><span class="ui_mod_evt">Modify a stay</span></h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="required" for="stay_dateArrival_picker">Date arrival</label>
                    <input id="stay_dateArrival_picker" type="text" class="form-control picker-init" ui-select-target="stay_dateArrival"/>
                </div>
                <div class="">
                    <label class="required">Date departure</label>
                    {{ form_row(form.dateArrival) }}
                </div>
                <div class="form-group">
                    <label class="required" for="stay_dateDeparture_picker">Date departure</label>
                    <input id="stay_dateDeparture_picker" type="text" class="form-control picker-init" ui-select-target="stay_dateDeparture"/>
                </div>
                <div class="">
                    {{ form_row(form.dateDeparture) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.city) }}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="save_stay btn btn-primary ui_add_evt">Add stay</button>
                <button type="button" class="save_stay btn btn-primary ui_mod_evt">Save changes</button>
            </div>
            <div class="block_error"></div>
        </div>
    </div>
</div>