<div class="row">
    <div class="form-group">
        <label class="required" for="search">Add a friend</label>
        <input id="search" class="form-control" name="search" required="required" type="text"/>
    </div>
</div>
<div class="row">
    <table id="table_search" class="table">
        <tbody></tbody>
    </table>
</div>
